
/*********** common styles*********/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #141619;
	font-family: 'Tiro Telugu', serif;
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden; 

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 3%;
}

header {
	background-image: url(../images/white_wall-min.png);
	margin-bottom: 60px;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	
}

section {
	padding: 100px 0;
	clear: both;
}

.float-clearing {
	zoom: 1;
}

.float-clearing:after {
	zoom: 1;
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/******** Header Styles*******/


#header-text {
	letter-spacing: 3px;
	color: #394042;
	font-size: 1em;
	border: none;
	padding: 200px 30px 0px 70px;


}

h2 {
	text-transform: uppercase;
	font-weight: 250;
	color: #394042;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #A8948A;
	content: " ";
	width: 150px;
	margin: 0 auto;
}

#maim-text {
	background-color: #59554A;
	margin-top: 60px;
	border: none;
}

#logo-site {
	float: left;
}

#main-nav {
	float: right;
	list-style: none;

}

#main-nav li {
	display: inline-block;
	margin-right: 30px;
	font-size: 0.8em;
}

#main-nav li a:link, 
#main-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #394042;
	opacity: 0.8;
}

#main-nav li a:hover,
#main-nav li a:active {
	opacity: 1;
}

#sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #b6b7c6;
	z-index: 999;
	box-shadow: 0 2px 2px #eff0f3;

}

#sticky-nav #main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #394042;
}

#sticky-nav #main-nav li a:link,
#sticky-nav #main-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #394042;
	opacity: 0.8;
}

#sticky-nav #main-nav li a:hover,
#sticky-nav #main-nav li a:active {
	opacity: 1;
	border-bottom: 2px solid #394042;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}


#sticky-nav #logo-site {
	position: fixed;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	color: #33342F;
	letter-spacing: 7px;
	font-family: 'Tiro Tamil', serif;
	padding-left: 20px;
}

#logo-site a {
	text-decoration: none;
	text-transform: uppercase;
	color: #33342F;
	letter-spacing: 7px;
	font-family: 'Tiro Tamil', serif;
	padding-left: 20px;
}

#sticky-nav .mobile-nav-icon {
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 10px;
}

nav {
	background: #fff;
	height: 60px;
	padding: 20px;
}

.mobile-nav-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	display: none;
	font-size: 200%;
}


#selfi {
	width: 100%;
	padding: 50px 100px 70px 0px;

}

#portret-container {
	border: none;
	padding: 70px 0px 0px 0px;
	position: right fixed;

}

/*********logo of newspapers styles*******/

.logo-button img {
	height: 70px;
	margin-right: 2%;
	margin-bottom: 100px;
	margin-left: 3%;

}

h3 {
	text-transform: uppercase;
	color: #33342F;
	letter-spacing: 5px;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;

}

h3:after {
	display: block;
	height: 2px;
	background-color: #A8948A;
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;
}


/*******Сетка********/

.grid-container {
	display: -ms-grid;
	display: grid;
	text-align: center;
	width: 100%;
	-ms-grid-columns: 250px 250px 250px;
	grid-template-columns: 250px 250px 250px;
	-ms-grid-rows: 250px 250px 250px;
	grid-template-rows: 250px 250px 250px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	grid-gap: 15px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.grid-item img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	opacity: 0.6;
	position: relative;
} 

.grid-item img:hover {
	opacity: 1;
}

.grid-item h4 {
	position: relative;
	top: -180px;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	color: #6d7087;

}

/*********Web Development styles********/


#development {
	background-image: url(../images/white_wall-min.png);
	padding-top: 60px;
	overflow: hidden;
}

.hello {
	text-align: center;
	letter-spacing: 3px;
	color: #394042;
	font-size: 1em;
	padding-right: 50px;
	padding-left: 50px;
}


.col-4 img {
	width: 100%;
	height: 100%;

}

/*********Contact styles********/


#contact-form-section {
	width: 50%;
	margin-top: 0 auto;
	margin-left: 350px;

} 

input[type=text],
input[type=email],
input[type=name],
select,
textarea {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #A8948A;
}

	textarea {
	height: 150px;
	
}

/*/*********Footer styles********/

footer {
	text-align: center;
	margin-top: 50px;
	padding: 100px;
	background-image: url(../images/white_wall-min.png);
	color: #33342F;
}

#footer-nav {
	margin-bottom: 30px;

}

#footer-nav ul {
	list-style-type: none;
}

#footer-nav li a:link,
#footer-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	opacity: 0.5;
	font-size: 70%;
}

#footer-nav li a:hover,
#footer-nav li a:active {
	opacity: 1;
}


#footer-text {
	font-size: 80%;
}

/*/*********Media Query styles********/

@media only screen and (max-width: 970px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  #header-text {
  	padding: 70px 30px 0px 50px;

  }

  #logo {
  	padding-bottom: 50px;
  }

  .col-4 img {
	width: 80%;
	height: 80%;
	padding-top: 20px;

}

  #contact-form-section {
  	margin-left: 30px;
	width: 80%;
  }

  #selfi{
  	padding: 0px;
  }

  .logo-button img {
  	margin: 20px;
  }

  #development {
  	padding-left: 30px;
  }

  .mobile-nav-icon {
	display: inline-block;
  }

  #main-nav {
	float: right;
	margin-top: 30px;
	display: none;

  }

  #main-nav li {
	display: block;
	padding: 10px 0px;
  } 

  #main-nav li a:link,
  #main-nav li a:visited {
	display: block;
  }

  .grid-container {
	display: -ms-grid;
	display: grid;
	text-align: center;
	width: 100%;
	-ms-grid-columns: 200px 200px;
	grid-template-columns: 200px 200px;
	-ms-grid-rows: 200px 200px;
	grid-template-rows: 200px 200px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	grid-gap: 10px;
	margin-bottom: 100px;
	margin-top: 50px;
  }
}
